# Turtle Recall
A facial recognition model for turtles

https://zindi.africa/competitions/turtle-recall-conservation-challenge/data

In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np

In [3]:
ds = pd.read_csv("./data/train.csv")
ds.head()

      image_id image_location      turtle_id
0  ID_2RK4WLN8            top  t_id_VP2NW7aV
1  ID_VVW0QXLX           left  t_id_qZ0iZYsC
2  ID_RVATH2HZ          Right  t_id_3b65X5Lw
3  ID_2GB90GPS           left  t_id_YjXYTCGC
4  ID_LM6S0B1M            top  t_id_d6aYXtor